body {
	background-color: #222;
	color: #ccc;
}
.container {
	width: 70%;
	margin: 0 auto;
}
header {
	padding: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}
header h1 {
	font-size: 4em;
	margin: 0;
}
header h2 {
	font-size: 1.5em;
	margin: 0 0.4em;
}

.area {
	margin: 1em 0.1em;
	width: 24%;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 15em 0 9em;
}
.area span {
	font-size: 1.5em;
	padding: 0.5em;
	border-bottom: 1px solid;
}
.area p {
	padding: 1em 1em 0;
}
.myself {
	background-color: #900;
}
.speaker {
	background-color: #40a;
}
.writer {
	background-color: #C60;
}
.developer {
	background-color: #393;
}

.twitter {
	background: url("../images/twitter-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.github {
	background: url("../images/github-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
footer {
	border-top: 1px solid #111;
	margin-top: 0.5em;
}
footer a {
	color: #999;
	display: inline-block;
	margin: 1em;
	padding: 0.5em 0.5em 0.5em 2.5em;
}
