#languageSwitch {
	color: #fff;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		right: 1.5em;
		top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal section.cover {
	background-color: rgba(255,255,255,0.5);
	border-radius: 1.5em;
	margin-left: 8em;
	padding-right: 1em;
	text-align: right;
	width: 22em;
}

.reveal .cover h1{
	font-size: 4.5em;
}

.reveal .cover.english h1{
	font-size: 6.5em;
}

.reveal .cover h2 {
	margin-top: -0.2em;
	font-size: 4em;
	margin-bottom: 0.5em;
}

.reveal .cover h4 {
	text-align: center;
	font-family: inherit;
	font-size: 1.5em;
}

.reveal .whoAmI {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}

.reveal .whoAmI a {
	font-size:1.2em;
	margin-right:0.3em;
	display: block;
	clear: both;
	color: rgba(0,0,0, 0.4);
}

.reveal .whoAmI a:hover {
	color: rgba(0, 0, 0, 0.8);
}

.reveal .whoAmI #twLogo {
	margin-top: 1em;
}

.reveal .cover a {
	color: #333;
}

.reveal .filhosEspacadinhos {
	line-height: 1.5em;
	word-spacing: 1em;
}

.reveal .deLadinho > li {
	display: inline-block;
	margin: 1em 2em 0 0;
	vertical-align: top;
}

.reveal .stories {
	border-collapse: separate;
	border-spacing: 0.5em;
	width: 100%;
}

.reveal .stories td {
	border: 1px solid #000;
	padding: 0.8em;
	margin: 0.2em;
	vertical-align: middle;
}

.reveal .stories td:nth-child(1) {
	width: 30%;
}

.reveal .stories td:nth-child(2) {
	width: 40%;
}

.reveal .stories .epic {
	font-size: 170%;
	line-height: 1.2em;
	text-align: center;
}

.reveal .bucketList h4 {
	color: white;
	margin-bottom: 5em;
	margin-left: -0.5em;
}

.reveal .bucketList h5 {
	color: #633;
	font-family: 'Dancing Script', cursive;
	font-size: 125%;
	text-align: left;
	margin: 0.1em 2em;
	transform:rotate(10.7deg);
}

.reveal .kanban h1{
	font-family: 'Dancing Script', cursive;
	font-size: 2.8em;
	margin-left: 3em;
	margin-top: 0.8em;
}

.reveal section img {
	margin: 20px;
}

.reveal h4 {
	text-align: left;
	font-family: 'Londrina Sketch', cursive;
	font-size: 3em;
}

.reveal .smaller {
	font-size: 70%;
}

.reveal .reallyBig {
	font-size: 15em;
}

.reveal .bigger {
	font-size: 150%;
	line-height: 1.5em;
}

/* Colors */
.reveal .positive {
	color: #22FF22;
}

.reveal .negative {
	color: #FF3333;
}

/* Fonts */
.reveal .cursiveFont {
	font-family: 'Dancing Script', cursive;
}
.reveal .attentionFont {
	font-family: 'Londrina Sketch', cursive;
}
