#languageSwitch {
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		top: 1em;
		right: 1em;
	text-decoration: none;
	z-index: 1;
}
#istaffing-logo {
	position: absolute;
		top: 1em;
		left: 1em;
	width: 6em;
}
.reveal .cover h1{
	font-size: 4em;
	display: inline-block;
	margin: 0 0.1em 0 0;
}
.reveal .cover h2 {
	font-size: 2em;
	vertical-align: bottom;
	margin-bottom: 1em;
}
.reveal.en .cover h1 {
	font-size: 5em;
}
.reveal.en .cover h2 {
	font-size: 2.4em;
	display: inline-block;
	margin-bottom: 0;
	width: 6em;
}
.reveal .whoAmI {
	display: inline-block;
	vertical-align: middle;
}
.reveal.en .whoAreWe {
	display: flex;
	justify-content: space-around;
	margin-top: 2em;
}
.reveal .whoAmI h5 {
	font-size: 1.2em;
}
.reveal.en .whoAmI h5 {
	padding: 0;
}
.reveal .whoAmI a {
	color: #fbb;
}
.reveal .whoAmI a:hover {
	color: #fdd;
}
.reveal.en .whoAmI a {
	color: #a2fcf0;
}
.reveal.en .whoAmI a:hover {
	color: #c8fcf5;
}
.reveal #twLogo {
	width: 35%;
}
.reveal .faded {
	color: rgba(255, 255, 255, 0.75);
}
.reveal .highlighted {
	color: #ff0;
}
.reveal.en .highlighted {
	color: #a2fcf0;
}

.reveal .negative {
	color: #F1C40F;
}
.reveal h4 {
	text-align: left;
	display: block;
	margin-bottom: 1em;
	font-size: 2em;
	font-family: 'Londrina Sketch', cursive;
}

.reveal section img {
	margin: 20px;
}

.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 3em;
}
.reveal .side {
	float: left;
}
/* Fonts */
.reveal .cursive {
	font-family: 'Dancing Script', cursive;
}
.reveal .attention {
	font-family: 'Londrina Sketch', cursive;
}
