#languageSwitch {
	color: #fff;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		right: 1.5em;
		top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal section.cover {
	padding: 1rem;
	text-align: left;
}

.reveal .cover h1{
	font-size: 2.7em;
	margin-bottom: 1em;
}

.reveal .cover h1 strong {
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1;
}

.reveal .cover h4 {
	font-size: 1.5em;
	margin-top: 0.3em;
	font-family: inherit;
}

.reveal .cover .author {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.reveal .cover img.nu {
	height: 4em;
	margin-top: 1em;
}

.reveal .cover img.ab {
	height: 5em;
	margin: 0;
}

.reveal .cover .whoAmI {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}

.reveal .cover .whoAmI a {
	font-size: 1.15em;
	margin-right: 0.3em;
	display: block;
}

.reveal .cover .whoAmI h4 {
	margin-bottom: 0;
}

.reveal .cover .whoAmI a:first-of-type {
	margin-top: 1em;
}

.reveal .cover .whoAmI a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.reveal .cover a {
	color: #ccc;
}

.reveal .deLadinho > li {
	display: inline-block;
	margin: 1em 2em 0 0;
	vertical-align: top;
}

.reveal section img {
	margin: 20px;
}

.reveal section img.photo {
	transform: rotate(-8deg);
	width: 42vw;
}

.reveal h4 {
	text-align: left;
	font-family: 'Londrina Sketch', cursive;
	font-size: 3em;
}

.reveal .smaller {
	font-size: 70%;
}

.reveal .reallyBig {
	font-size: 15em;
}

.reveal .bigger {
	font-size: 150%;
	line-height: 1.5em;
}

/* Colors */
.reveal .positive {
	color: #22FF22;
}

.reveal .negative {
	color: #FF3333;
}

.reveal .apagadinho {
	color:rgba(255, 255, 255, 0.4)
}

/* Fonts */
.reveal .cursive {
	font-family: 'Dancing Script', cursive;
}
.reveal .attention {
	font-family: 'Londrina Sketch', cursive;
}
