/*
	color: #f4f4f4; // base gray
	color: #7f7f7a; // dark gray
	color: #891cbb; // nu purple
	color: #ca8ee2; // light purple
	color: #4d1069; // dark purple
	color: #f95f85; // coral
*/

#languageSwitch {
	color: #ca8ee2;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		right: 1.5em;
		top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal .cover h1,
.reveal .cover h2 {
	color: #4d1069;
}

.reveal .cover h3 {
	color: #222;
}

.reveal .cover a {
	color: #7f7f7f;
}

.reveal .cover h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 3.5em;
	margin-bottom: -0.1em;
 	vertical-align: bottom;
}

.reveal .cover h2{
	font-family: 'Londrina Sketch', cursive;
	font-size: 5.1em;
	display: inline-block;
	margin: 0 0.1em 0 0;
	font-variant: small-caps;
	line-height: 1em;
	transform: scale(1, 1.4);
}

.reveal .whoAmI {
	display: inline-block;
	margin-top: 10px;
	vertical-align: middle;
	width: 25%;
}
.reveal .cover .about {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 4em;
	margin: 2em 0 0 1.8em;
	padding: 30px 0 20px;
	width: 90%;
}

.reveal .cover .about .aab {
	max-width: 6em;
}

.reveal .cover .about .tw {
	max-width: 10em;
}

.reveal .whoAmI * {
	line-height: 0.8em;
}

.reveal .whoAmI h3 {
	font-weight: normal;
	font-size: 1.2em;
}

/* General usage */

.reveal p {
	margin-top: 1em;
	color: #7f7f7a;
	font-size: 2em;
}

.reveal .positive {
	color: #b11c54;
}
.reveal .neutral {
	color: #2255FF;
}

.reveal .negative {
	color: #6a2569;
}

.reveal .author {
	color: #ca8ee2;
}

.reveal .esvp {
	width: 80%;
}

.reveal h4 {
	text-align: left;
	display: block;
	margin-bottom: 1em;
	font-size: 2em;
	font-family: 'Londrina Sketch', cursive;
}

.reveal section img {
	margin: 15px;
	padding: 20px 5px;
}

.reveal table {
	border: 1px solid #fff;
}

.reveal .sideBySide {
	display: inline-block;
	vertical-align: bottom;
	width: 45%;
}

.reveal .light {
	color: #ca8ee2;
}

.reveal table.sideBySide th.dificulty {
	width: 10%;
}

.reveal td, .reveal th {
	text-align: center;
	width: 8em;
	border: 1px solid #966;
	vertical-align: middle;
	padding: 0.2em;
}

.reveal thead tr {
	background-color: rgba(0, 0, 0, 0.4);
}

.reveal .zebra {
	background-color: rgba(0, 0, 0, 0.2);
}

.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 3em;
}
.reveal .attention.bigger {
	font-size: 5em;
}
.reveal .left{
	text-align: left;
	margin-left: 1em;
}
.reveal .right{
	text-align: right;
	margin-right: 1em;
}
.reveal .side {
	float: left;
}
.reveal .otherSide {
	float: right;
}
/* Fonts */
.reveal .cursive {
	font-family: 'Dancing Script', cursive;
}
.reveal .attention {
	font-family: 'Londrina Sketch', cursive;
}
