.highlighted0 {
	box-shadow: inset 0 0 1em #00F;
}

.highlighted1 {
	box-shadow: inset 0 0 1em #0F0;
}

.highlighted2 {
	box-shadow: inset 0 0 1em #0FF;
}

.highlighted3 {
	box-shadow: inset 0 0 1em #F00;
}

.highlighted4 {
	box-shadow: inset 0 0 1em #F0F;
}

.highlighted5 {
	box-shadow: inset 0 0 1em #FF0;
}

.highlighted6 {
	box-shadow: inset 0 0 1em #009;
}

.highlighted7 {
	box-shadow: inset 0 0 1em #090;
}

.highlighted8 {
	box-shadow: inset 0 0 1em #099;
}

.highlighted9 {
	box-shadow: inset 0 0 1em #900;
}

.highlighted10 {
	box-shadow: inset 0 0 1em #909;
}

.highlighted11 {
	box-shadow: inset 0 0 1em #990;
}

.highlighted12 {
	box-shadow: inset 0 0 1em #0F9;
}

.highlighted13 {
	box-shadow: inset 0 0 1em #09F;
}

.highlighted14 {
	box-shadow: inset 0 0 1em #F09;
}

.highlighted15 {
	box-shadow: inset 0 0 1em #F90;
}

.highlighted16 {
	box-shadow: inset 0 0 1em #90F;
}

.highlighted17 {
	box-shadow: inset 0 0 1em #9F0;
}

.highlighted18 {
	box-shadow: inset 0 0 1em #999;
}

.highlighted20 {
	box-shadow: inset 0 0 1em #F99;
}

.highlighted21 {
	box-shadow: inset 0 0 1em #F9F;
}
