body {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
	font-size: 1.2em;
	color: #666;
	margin: 0.2em 0;
}

ul {
	font-size: 0.8em;
	text-align: center;
	padding: 0.3em 0;
	margin-top: 0;
}

li {
	border-radius: 0.5em;
	background-color: #eef;
	cursor: pointer;
	display: inline-block;
	margin: 0.1em;
	padding: 0.3em 0.5em;
}

table {
	width: 100%;
	text-align: center;
	border: 1px solid #CCC;
	margin-bottom: 1em;
}

thead {
	font-size: 1.2em;
}

table td, table th {
	border: 1px solid #bbb;
	font-size: 85%;
	text-align: center;
	vertical-align: middle;
	padding: 0.25em;
}

th {
	background-color: #468850;
	color: #eee;
	font-variant: small-caps;
	font-weight: normal;
}
thead tr th {
    width: 15%;
}

a {
	color: #048;
	text-decoration: none;
}

.time {
	width: 10%;
}

.allHands {
	background-color: #79bb83;
}

.invited {
	background-color: #FFFF77;
}

.interactive {
	background-color: #78c5ee;
}

.wbma {
	background-color: #e5e5e5;
}

.authors {
	display: block;
	font-size: 75%;
}
