@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Londrina+Sketch&display=swap');

:root {
    --mulheres-agilistas-pink: #FE6680;
    --mulheres-agilistas-green: #13616D;
}

/* Fonts */

.reveal .cursiveFont {
	font-family: 'Dancing Script', cursive;
}

.reveal .attentionFont {
	font-family: 'Londrina Sketch', cursive;
}

/* Generic modifiers */

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.reveal .semiTransparent {
    opacity: 0.6 !important;
}

.reveal h1.onTop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    border: 10px dashed #fff;
    background: linear-gradient(to left, rgba(254, 103, 128, 0.8), rgba(19, 97, 109, 0.8));
    padding: 0.2em 1em;
}

.reveal .author {
	font-size: 1em;
    margin-top: 0.5em;
    color: rgba(248, 248, 255, 0.5);
    text-align: right;
}

.reveal h1.littleBigger {
	font-size: 15rem;
    line-height: 0.7;
}

.reveal h2.littleBigger {
	font-size: 7rem;
    line-height: 0.7;
}

.reveal h1.littleSmaller {
	font-size: 7.8rem;
    line-height: 0.7;
}

.reveal h3.littleSmaller {
    font-size: 1.1em;
}

.reveal .highlight {
    color: rgb(255, 244, 89);
}

/* HTML hacks */

.reveal h4 {
	text-align: left;
	display: block;
	margin: 0 auto 0.3em;
	font-size: 2.5em;
	font-family: 'Londrina Sketch', cursive;
}

.reveal h4.littleSmaller {
    font-size: 2em;
}

img.sideBySide {
    max-width: 45%;
    vertical-align: top;
}

h1.sideBySide, h2.sideBySide, h3.sideBySide {
    display: inline-block;
    max-width: 45%;
    margin-right: 0.5em;
    vertical-align: middle;
}

ul.sideBySide {
    margin-top: 1em;
    vertical-align: middle;
}

/* Cover */

.cover {
    line-height: 0.8;
    text-align: left;
}

.cover h1, .cover h2 {
    line-height: 0.7;
}

.cover .title {
    text-align: left;
}

.cover .whoAmI {
    box-sizing: border-box;
    margin-top: 1.5em;
}

.cover .whoAmI .contact {
    display: inline-block;
    line-height: 1.15;
    margin-right: 6rem;
    vertical-align: super;
}

.cover .whoAmI .contact > * {
    display: block;
}

.cover .whoAmI .contact h3 {
    font-size: 110%;
    margin-bottom: 0.3em;
}

.cover .whoAmI .contact a {
    font-size: 84%;
}

.cover .whoAmI .contact a:hover {
    color: #fff;
}

.cover .whoAmI img {
    box-sizing: border-box;
    max-height: 4.5em;
    margin-bottom: 0;
    margin-right: 3vw;
    padding: 0.5em;
}

.cover .whoAmI img.nu-logo {
    padding: 1em 0.5em;
}

/* Reference links */

a.reference {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    text-decoration: underline;
    position: fixed;
    bottom: 0;
    left: 8em;
}

a.reference::before {
    content: url("../images/reference.png");
    padding-right: 0.5em;
    vertical-align: text-bottom;
}

/**/