
* {
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #eadffb;
    margin: 2em;
    display: flex;
    list-style: none;
}

h1, h2 {
    color: #833471;
    line-height: 0.9;
    margin: 0 auto;
}

h2 {
    opacity: 0.5;
}
.instructions {
    font-size: 1.3em;
    max-width: 600px;
}

.instructions p {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 1em;
}

.instructions strong {
    display: block;
    margin-bottom: 1em;
}

.instructions em {
    display: block;
    margin-top: 1em;
    text-align: right;
}

.instructions a {
    color: inherit;
    text-decoration: inherit;
}

ul.mms li {
    display: none;
}

ul.mms li.show {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 2.8em;
    padding: 3em 2em;
    text-align: center;
    width: 450px;
    height: 450px;
}

.contribute {
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: 400;
    text-decoration: none;
    color: #833471;
    position: fixed;
    top: 2.5em;
    right: -3.5em;
    transform: rotate(45deg);
    padding: 0.5em 3em;
}


@media (max-width: 1000px) {
    .instructions {
        font-size: 0.8em;
        max-width: 50vw;
    }

    ul.mms li.show {
        font-size: 5vw;
        padding: 2.5em 1.5em;
        width: 40vw;
        height: 40vw;
    }

    ul.mms li.purple {
        padding: 2em 1em;
    }
}

@media (max-width: 630px) {
    body {
        flex-direction: column;
    }

    .instructions {
        max-width: unset;
    }

    ul.mms {
        box-sizing: border-box;
        padding-left: 0;
        margin: 0 auto;
        vertical-align: middle;
    }

    ul.mms li.show {
        font-size: 2em;
        margin: 0 auto;
        padding-top: 3em;
        width: 80vw;
        height: 80vw;
    }

    ul.mms li.purple {
        font-size: 1.8em;
    }

    .contribute {
        display: none;
    }
}

.red { background-color: #c0392b; }
.green { background-color: #27ae60;}
.yellow { background-color: #f39c12;}
.orange { background-color: #d35400;}
.blue { background-color: #2980b9;}
ul.mms li.purple { 
    background-color: #8e44ad;
}
